{% extends 'base.html' %}

{% block content %}
<table id="printers-table">

</table>

<script async defer>
    window.onload = async () => {
        console.log(1)
        let response = await fetch('https://asset-tool.metro-cc.ru/api/printer/run/?mask=Invent_')
        let data = await response.json()
        let table = document.querySelector('#printers-table')
        for ([key, value] of Object.entries(data)) {
            console.log(value.vame)
            let row = document.createElement('tr', {'id': key})
            row.appendChild(document.createElement('td', value.name))
            row.appendChild(document.createElement('td', value.ip))
            row.appendChild(document.createElement('td', value.desc))
            table.append(row)
        }
    }
</script>
{% endblock %}