<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mail shit</title>
</head>
<body>
    <div>From:<input type="text" id="From"></div>
    <div>To:<input type="text" id="To"></div>
    <div>Subject:<input type="text" id="Subject"></div>
    <textarea name="" id="Body"></textarea>
    <input type="file" id="files" multiple>
    <button id="send" onclick="Send()">Send</button>
</body>

<script>
    function Send() {
        const data = new FormData()
         for (const file of document.getElementById("files").files) {
            data.append('files', file, file.name)
        }
        data.append("From", document.getElementById("From").value)
        data.append("To", document.getElementById("To").value)
        data.append("Subject", document.getElementById("Subject").value)
        data.append("Body", document.getElementById("Body").value)
        console.log(data)
        fetch('https://asset-tool.metro-cc.ru/api/sendmail/', {
            method: 'POST',
            body: data
        })
    }

</script>
</html>